@import "variables";

html {
  height: 100%;
}

body {
  background-color: $color-dirty-white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
    color: $color-dark-emerald;

    &:hover {
      text-decoration: underline;
      color: $color-light-emerald;
    }
  }

  #work,
  #intro,
  #contact {
    width: 100%;
  }

  .hero-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: $color-dark-emerald;
    margin: 40px 0;
  }

  .hero-location {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $color-dirty-black;
  }

  .hero-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $color-dirty-gray;
    margin: 40px;
  }

  .board-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: $color-dark-emerald;
  }

  .board-location {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $color-dirty-gray;
  }

  p.board-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $color-dirty-gray;
  }

  ul.board-description {
    list-style-type: disc;
    margin-left: 30px;
    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      color: $color-dirty-gray;
      padding-left: 5px;
    }
  }

  .center-txt {
    text-align: center;
  }

  .footer {
    min-height: 100px;
    width: 100%;
    background-color: $color-dirty-gray;
    text-align: center;

    .copyright {
      color: $color-dirty-white;
    }
  }
}

.a {
  width: 92px;
  height: 200px;
  margin: 20px 0;
  background-color: $color-dirty-white;
}

.b {
  width: 92px;
  height: 200px;
  margin: 20px 0;
  background-color: $color-shadow;
}

.c {
  width: 92px;
  height: 200px;
  margin: 20px 0;
  background-color: $color-dirty-black;
  border-radius: 0 10px 10px 0;
}

.d {
  width: 92px;
  height: 200px;
  margin: 20px 0;
  background-color: $color-dark-emerald;
  border-radius: 10px 0 0 10px;
}

.e {
  width: 92px;
  height: 200px;
  margin: 20px 0;
  background-color: $color-light-emerald;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin-right: 5px;
  vertical-align: middle;
}
