$color-dirty-white: rgb(245, 245, 245);
$color-dirty-gray: rgba(135, 135, 135, 1);
$color-dirty-black: rgba(31, 31, 33, 1);
$color-dark-emerald: rgba(0, 116, 124, 1);
$color-light-emerald: rgba(0, 186, 200, 1);


$color-shadow: rgba(0, 0, 0, 0.15);